body{
background-color:#e8e2db;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  color: #1a3263;  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(125, 143, 123);
}
h3{
  color: #1a3263;  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(125, 143, 123);
}
h4{
  color: #1a3263;  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
ul { /* https://www.w3schools.com/css/css_navbar_horizontal.asp */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5564e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
  }
  li a:hover {
    background-color: rgb(200, 3, 3);
  }
.artist { /* https://www.w3schools.com/css/css_website_layout.asp */
  width:46%;
  padding: 10px;
  margin:15px;
  border: 10px;
  float: right;
  border: 3px solid #1a3263;
  background-color: #fab95b;
  height:515px;
  text-align: center;
}

.influence { 
  width:30%;
  padding: 10px;
  margin:10px;
  border: 3px solid #1a3263;
  text-align: center;
  background-color: #fab95b;
  float:left;
  height:450px;
}
.bio {
  width:46%;
  padding: 10px;
  margin:10px;
  float:left;
  border: 3px solid #1a3263;
  text-align: center;
  height:auto;
  background-color: #fab95b;
  height: 550px;
}
video{ /*https://www.quora.com/What-is-the-simplest-way-to-center-HTML5-video*/
  display: block; 
	width: auto; 
  margin: 0 auto; 
  border: 3px solid #1a3263;
  background-color: #fab95b;
}
#floater{ /*https://vanseodesign.com/css/vertical-centering/*/
  float: left;
  height: 28%;
  width: 100%;
  margin-bottom: -50px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.last { 
  width:46%;
  padding: 10px;
  margin:15px;
  border: 10px;
  float: left;
  border: 3px solid #1a3263;
  background-color: #fab95b;
  height:600px;
  text-align: center;
}